.cart{
  &__item{
    padding: rem(16) rem(23);
    border: 1px solid $gray-4;
    margin-bottom: rem(16);
    display: flex;
    align-items: center;
    .image{
      max-width: rem(122);
      margin-right: rem(62);
    }
    .title{
      font-weight: bold;
      font-size: rem(20);
      line-height: rem(24);
      letter-spacing: -0.005em;

      a{
        color: $mainFontColor;
      }
    }
    .counter{
      justify-content: center;
      margin-right: 0;
      &__item{
        background: $accent;
        .icon{
          stroke: $default-color;
          fill: $default-color;
        }
      }
    }
    .price{
      span{
        font-size: rem(18);
        line-height: rem(24);
        font-weight: bold;
        letter-spacing: -0.0075em;
        color: $mainFontColor;
      }
    }
    .remove{
      .icon{
        stroke: $mainFontColor;
        cursor: pointer;
      }
    }
  }
  &-rules{
    position: relative;
  }
}
#msCart{
  table{
    width: 100%;
    td,th{
      display: block;
    }
    tr{
      display: flex;
      .title{
        width: 50%;
        text-align: center;
      }
      .count{
        width: 20%;
        text-align: center;
      }
      .price{
        width: 20%;
        text-align: center;
      }
      .remove{
        width: 10%;
        text-align: center;
      }
    }
    .header{
      padding: 0 rem(23) rem(20) rem(23);
      font-size: rem(18);
    }
    .footer{
      font-size: rem(18);
      display: flex;
      justify-content: flex-end;
      margin-top: rem(24);
    }
  }
}
.tab-stages-2{
  display: none;
  &__content{
    max-width: rem(711);
    margin: 0 auto;
    >div{
      margin-bottom: rem(28);
      label{
        display: block;
        margin-bottom: rem(8);
        font-weight: bold;
        font-size: rem(18);
        line-height: rem(24);
        letter-spacing: -0.0125em;
        color: $mainFontColor;
      }
      input{
        padding: rem(12);
        font-size: rem(16);
        line-height: rem(20);
        color: $mainFontColor;
        opacity: 0.5;
        border: 1px solid $gray-4;
        width: 100%;
        height: rem(44);
      }
    }

  }

  .input--checkbox {
    margin-right: .5rem;
    position: relative;
    &:before{
      position: absolute;
      content: "";
      display: none;
      left: 2px;
      top: 1px;
      width: 84%;
      height: 84%;
      background: $default-color;
    }
    &:checked{
      background: $default-color;
    }
    +img{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: .25rem;
      top: .25rem;
    }
    &:checked{
      &:before{
        display: block;
      }
      +img{
        opacity: 1;
        visibility: visible;
      }
    }

  }
}
.order-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(80);
}
.warning{
  padding: rem(22) rem(20) rem(26) rem(20);
  background: $warning;
  margin-top: rem(48);
}
