.cart{
  &__item{
    padding: rem(16) rem(23);
    border: 1px solid $gray-4;
    margin-bottom: rem(16);
    display: flex;
    align-items: center;
    @media (max-width: $smDesktopWidth) {
      padding: rem(16);
      margin-bottom: rem(12);
    }
    @media (max-width: $tableWidth) {
      padding: rem(48) rem(16) rem(16) rem(16);
      flex-wrap: wrap;
      position: relative;
    }
    .image{
      width: rem(122);
      margin-right: rem(62);
      @media (max-width: $smDesktopWidth) {
        margin-right: rem(24);
        width: rem(81);
      }
    }
    .title{
      font-weight: bold;
      font-size: rem(20);
      line-height: rem(24);
      letter-spacing: -0.005em;

      a{
        color: $mainFontColor;
        @media (max-width: $smDesktopWidth) {
          font-size: rem(18);
          line-height: rem(20);
        }
      }
    }
    .counter{
      justify-content: flex-start;
      margin-right: 0;
      @media (max-width: $tableWidth) {
        justify-content: flex-end;
      }
      &__item{
        background: $accent;
        &:hover{
          border: 1px solid $accent;
          background: $default-color;
          .icon{
            fill: $accent;
            stroke: $accent;
          }
        }
        .icon{
          stroke: $default-color;
          fill: $default-color;
        }
      }
    }
    .price{
      span{
        font-size: rem(18);
        line-height: rem(24);
        font-weight: bold;
        letter-spacing: -0.0075em;
        color: $mainFontColor;
        @media (max-width: $smDesktopWidth) {
          font-size: rem(16);
          line-height: rem(16);
        }
      }
    }
    .remove{
      .icon{
        stroke: $mainFontColor;
        cursor: pointer;
        width: 1.25rem;
        height: 1.25rem;
        @media (max-width:$tableWidth) {
          margin-left: -10px;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
  &-rules{
    position: relative;
    @media (max-width: $tableWidth) {
      align-items: flex-start;
    }
    .link{
      display: contents;
      @media (max-width: $tableWidth) {
        font-size: 1rem;
      }
    }
  }
}
#msCart{
  table{
    width: 100%;
    td,th{
      display: block;
    }
    tr{
      display: flex;
      .title{
        width: 50%;
        text-align: left;
        @media (max-width: $smDesktopWidth) {
          width: 55%;
        }
        @media (max-width: $tableWidth) {
          width: 100%;
          text-align: left;
        }
      }
      .count{
        width: 20%;
        text-align: left;
        @media (max-width: $smDesktopWidth) {
          width: 25%;
        }
        @media (max-width: $tableWidth) {
          width: 60%;
          margin-top: rem(24);
          order: 3;
        }
        &-get-order{
          font-size: 1.125rem;
          line-height: 1.5rem;
          font-weight: 700;
          letter-spacing: -.0075em;
          color: #2f3338;
        }
      }
      .price{
        width: 20%;
        text-align: left;
        @media (max-width: $smDesktopWidth) {
          width: 15%;

        }
        @media (max-width: $tableWidth) {
          width: 40%;
          margin-top: rem(24);
          order: 2;
          text-align: left;
        }
      }
      .remove{
        width: 10%;
        text-align: center;
        @media (max-width: $smDesktopWidth) {
          width: 5%;
        }
        @media (max-width: $tableWidth){
          position: absolute;
          right: rem(22);
          top: rem(22);
        }
      }
    }
    .header{
      padding: 0 rem(23) rem(20) rem(23);
      font-size: rem(18);
      @media (max-width: $smDesktopWidth) {
        padding: 0 rem(16) rem(16) rem(16);
      }
      @media (max-width: $tableWidth) {
        display: none;
      }
      .title{
        padding-left: rem(184);
        @media (max-width: $smDesktopWidth) {
          padding-left: rem(105);
        }
      }
    }
    .footer{
      font-size: rem(18);
      display: flex;
      justify-content: flex-end;
      margin-top: rem(26);
      @media (max-width: $smDesktopWidth) {
        margin-top: rem(24);
      }
      @media (max-width: $tableWidth) {
        justify-content: flex-start;
        margin-top: rem(16);
        padding-left: 1px;
      }
    }
    +div{
      @media (max-width: $tableWidth) {
        width: 100%;
      }
      .btn{
        @media (max-width: $tableWidth) {
          width: 100%;
          text-align: center;
          font-size: rem(18);
          line-height: rem(24);
        }
      }

    }
  }
}
.tab-stages-2{
  display: none;
  &__content{
    max-width: rem(711);
    margin: 0 auto;
    >div{
      margin-bottom: rem(28);
      @media (max-width: $smDesktopWidth) {
        margin-bottom: rem(24);
      }
      @media (max-width: $tableWidth){
        margin-bottom: rem(20);
      }
      label{
        display: block;
        margin-bottom: rem(8);
        font-weight: bold;
        font-size: rem(18);
        line-height: rem(24);
        letter-spacing: -0.0125em;
        color: $mainFontColor;
      }
      input{
        padding: rem(12);
        font-size: rem(16);
        line-height: rem(20);
        color: $mainFontColor;
        border: 1px solid $gray-4;
        width: 100%;
        height: rem(44);
        opacity: 1;
        &::placeholder{
          opacity: 0.5;
        }

      }
    }

  }

  .input--checkbox {
    margin-right: .5rem;
    position: relative;
    @media (max-width: $tableWidth) {
      min-width: 20px;
    }
    &:before{
      position: absolute;
      content: "";
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $default-color;
      border: 1px solid $gray-4;
    }
    &:checked{
      background: $default-color;
    }
    +img{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: .25rem;
      top: .25rem;
    }
    &:checked{
      &:before{
        display: block;
      }
      +img{
        opacity: 1;
        visibility: visible;
        z-index: 12;
      }
    }

  }
}

.warning{
  padding: rem(22) rem(20) rem(26) rem(20);
  background: $warning;
  margin-top: rem(48);
  @media (max-width: $smDesktopWidth) {
    margin-top: rem(36);
    margin-bottom: rem(36);
  }
  @media (max-width: $tableWidth) {
    margin-top: rem(28);
    padding: rem(20) rem(16) rem(24) rem(16);
  }
}
#msOrder{
  margin-top: 0!important;
}
.order-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: rem(80);
  @media (max-width: $smDesktopWidth) {
    margin-top: rem(60);
    margin-bottom: 0;
  }
  @media (max-width: $tableWidth) {
    margin-top: rem(68);
    flex-wrap: wrap;
  }
  .btn{
    display: flex;
    align-items: center;
    @media (max-width: $tableWidth) {
      width: 100%;
      margin-bottom: rem(20);
      text-align: center;
      font-size: rem(18);
      line-height: rem(24);
      justify-content: center;
    }
    &:last-child{
      @media (max-width: $tableWidth) {
        margin-bottom: rem(0);
      }
    }
  }
}
.tab-stages-2__content>div.order-buttons{
  @media (max-width: $smDesktopWidth) {
    margin-bottom: 0;
  }
}
#to-step-2{
  display: flex;
  align-items: center;
  padding: rem(12) rem(18) rem(12) rem(26);
  @media (max-width: $tableWidth) {
    justify-content: center;
  }
}
.section--cart{

}
