.contacts{
  h3{
    @media (max-width: $smDesktopWidth) {
      display: none;
    }
  }
  &__item{
    min-width: rem(281);
    &-content{
     >div{
       font-weight: bold;
       font-size: rem(18);
       line-height: rem(28);
       letter-spacing: -0.0075em;
       text-transform: uppercase;
     }
      margin-left: rem(15);
    }
    .link{
      font-size: rem(18);
      line-height: rem(24);
      letter-spacing: -0.0125em;
    }
    @media (max-width: $smDesktopWidth) {
      width: calc(100%/3);
      min-width: auto;
    }
  }
  &-single{
    width: 100%;
    .contacts__item{
      width: calc(100%/3);
    }
  }
}
