.contacts{
  @media (max-width: $smDesktopWidth) {
    width: 100%;
  }
  @media (max-width: $tableWidth) {
    flex-wrap: wrap;
  }
  h3{
    @media (max-width: $smDesktopWidth) {
      display: none;
    }
  }
  &__item{
    min-width: rem(281);
    &-content{
     >div{
       font-weight: bold;
       font-size: rem(18);
       line-height: rem(28);
       letter-spacing: -0.0075em;
       text-transform: uppercase;
     }
      margin-left: rem(15);
    }
    .link{
      font-size: rem(18);
      line-height: rem(24);
      letter-spacing: -0.0125em;
      @media (max-width: $tableWidth) {
        font-size: rem(16);
        line-height: rem(20);
      }
    }
    @media (max-width: $smDesktopWidth) {
      width: calc(100%/3);
      min-width: auto;
    }
    @media (max-width: $tableWidth) {
      width: 100%;
      margin-bottom: rem(32);
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-single{
    width: 100%;
    @media (max-width: $tableWidth) {
      flex-wrap: wrap;
      display: flex;
    }
    .contacts__item{
      width: calc(100%/3);
      @media (max-width: $tableWidth) {
        width: 100%;
      }
    }
    .icon{
      width: 32px;
      height: 32px;
      fill: #2f3338;
    }
  }

}
