.gallery-slider{
  @media (max-width:$tableWidth) {
    margin-top: 2.75rem;
  }
  &__item{
    margin-right: rem(36);
    max-height: rem(260);
    @media (max-width: $tableWidth) {
      margin-right: 0;
      max-height: 100%;
    }
    img{
      width: auto;
      max-height: inherit;
      object-fit: cover;
      object-position: center;
      margin: 0 auto;
    }
  }
  .slick-arrow{
    position: absolute;
    top: rem(-42);
    width: rem(24);
    padding: rem(7);
    border: 1px solid $accent;
    height: rem(24);
    box-sizing: content-box;
    transition: all .3s ease;
    @media (max-width: $smDesktopWidth) {
      padding: rem(5);
    }
    @media (max-width: $tableWidth) {
      top: rem(-48);
    }
    &:before{
      display: none;
    }
    &.slick-next{
      right: rem(0);
    }
    &.slick-prev{
      right: rem(56);
      left: auto;
      @media (max-width: $smDesktopWidth) {
        right: rem(52);
      }
    }
    .icon{
      transition: all .3s ease;
      fill: $accent;
    }
    &:hover{
      background: $accent;
      .icon{
        fill: $default-color;
      }
    }
  }
  .slick-dots{
    bottom: auto;
    top: -44px;
    left: 0;
    text-align: left;
    li{
      padding: 0;
      margin-left: 0;
      margin-right: rem(10);
      width: auto;
      height: auto;
      &.slick-active{
        button{
          background: $accent;
        }
      }
      button{
        width: rem(4);
        height: rem(4);
        @media (max-width: $tableWidth) {
          padding: 0;
          width: rem(8);
        }
        background: $gray-4;
        margin-right: 0;
        &:before{
          display: none;
        }
      }
    }
  }
}
