.hero{
  display: flex;
  @media (max-width: $tableWidth) {
    flex-wrap: wrap;
  }
  &__content{
    width: 50%;
    background: $mainFontColor;
    padding: rem(32) rem(24);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    order: 0;
    >*{
      display: inline-block;
      width: 100%;
    }
    @media (max-width: $smDesktopWidth) and (min-width: $tableWidth) {
      padding: 1.55rem .85rem;
    }
    @media (max-width: $tableWidth) {
      width: 100%;
      order: 1;
      padding: rem(16) rem(12) rem(48) rem(12);
    }
    &-bottom{
      line-height: rem(21);
      @media (max-width: $smDesktopWidth) {
        line-height: rem(28);
      }
      @media (max-width: $tableWidth) {
        font-size: rem(14);
        line-height: rem(16);
      }
    }
    h1{
      @media (max-width: $smDesktopWidth) {
        font-size: rem(32);
        line-height: rem(40);
      }
      @media (max-width: $tableWidth) {
        font-size: rem(24);
        line-height: rem(32);
        margin-bottom: rem(16);
      }
    }
  }
  &__image{
    width: 50%;
    @media (max-width: $tableWidth) {
      width: 100%;
      order: 0;
      max-height: rem(216);
    }
    img{
      width: 100%;
      @media (max-width: $tableWidth) {
        height: 100%;
        object-fit: cover;
        max-height: rem(216);
      }
    }
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $smDesktopWidth) {
      margin-top: rem(16);
    }
    @media (max-width: $tableWidth) {
      margin-top: 0;
    }
    .card{
      width: calc(100%/3 - 40px/3);
      margin-right: 20px;
      @media (max-width: $smDesktopWidth) {
        width: calc(100%/3 - 32px/3);
        margin-right: 16px;
      }
      @media (max-width: $tableWidth) {
        width: 100%;
        margin-right: 0;
        margin-top: rem(16);
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }
  &--variant{
    &-2{
      display: flex;
      align-items: center;
      position: relative;
      padding-top: rem(46);
      padding-bottom: rem(58);
      @media (max-width: $tableWidth) {
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 0;
      }
      &__content{
        position: relative;
        z-index: 50;
        width: 70%;
        @media (max-width: $smDesktopWidth) {
          width: 85%;
        }
        @media (max-width: $tableWidth) {
          width: 100%;
          order: 1;
        }
      }
      &__image{
        position: absolute;
        z-index: 40;
        width: 50%;
        right: 0;
        top: 0;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
          @media (max-width: $smDesktopWidth) {
            width: 100%;
          }
        }
        @media (max-width: $smDesktopWidth) {
          width: 70%;
        }
        @media (max-width: $tableWidth) {
          position: relative;
          width: 100%;
          order: 0;
        }
      }
    }
  }
}
