.hero{
  display: flex;
  &__content{
    width: 50%;
    background: $mainFontColor;
    padding: rem(32) rem(24);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    >*{
      display: inline-block;
      width: 100%;
    }
    &-bottom{
      line-height: rem(21);
      @media (max-width: $smDesktopWidth) {
        line-height: rem(28);
      }
    }
    h1{
      @media (max-width: $smDesktopWidth) {
        font-size: rem(32);
        line-height: rem(40);
      }
    }
  }
  &__image{
    width: 50%;
    img{
      width: 100%;
    }
  }
  &__cards{
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $smDesktopWidth) {
      margin-top: rem(16);
    }
    .card{
      width: calc(100%/3 - 40px/3);
      margin-right: 20px;
      @media (max-width: $smDesktopWidth) {
        width: calc(100%/3 - 32px/3);
        margin-right: 16px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  &--variant{
    &-2{
      display: flex;
      align-items: center;
      position: relative;
      &__content{
        position: relative;
        z-index: 50;
        width: 70%;
      }
      &__image{
        position: absolute;
        z-index: 40;
        width: 50%;
        right: 0;
      }
    }
  }
}
