.news{
  &-slider{
    .card--slider__wrap{
      display: flex;
      min-height: rem(112);
      flex-direction: column;
      justify-content: space-between;
    }
    .card{
      min-height: rem(112);
      padding: rem(16) rem(12);
    }
    .slick-dots{
      bottom: auto;
      top: -40px;
      left: 0;
      text-align: left;
      li{
        padding: 0;
        margin-left: 0;
        margin-right: rem(10);
        width: auto;
        height: auto;
        &.slick-active{
          button{
            background: $accent;
          }
        }
        button{
          width: rem(4);
          height: rem(4);
          background: $gray-4;
          margin-right: 0;
          @media (max-width: $tableWidth) {
            width: rem(8);
            height: rem(4);
            padding: 0;
          }
          &:before{
            display: none;
          }
        }
      }
    }
  }
  &__search{
    flex-wrap: wrap;
    @media (max-width: $tableWidth) {

    }
    &-wrap{
      .link{
        margin-top: -33px;
      }
    }
    &-slider{
      .slick-arrow{
        top: -43px;
        @media (max-width: $smDesktopWidth) {
          top: -39px;
        }
      }
      .card{
        border-left: 1px solid #cfd2d7;
        margin: 0 32px 0 0;
        &:hover{
          border-left: 1px solid #cfd2d7;
        }
        &:first-child{

        }
      }
    }
    .card--news{
      min-height: auto;
      margin-bottom: 24px;
      @media (max-width: $smDesktopWidth) {
        margin-bottom: 20px;
      }
      @media (max-width: $tableWidth) {
        width: 100%;
        margin-bottom: 16px;
      }
      &:last-child{
        margin-bottom: 0;
      }
      .link{
        color: $black;
        text-decoration: underline;
      }
      &:hover{
        background: transparent;
        h5{
          color: #2f3338;
        }
      }
    }
  }
}
.section--news{
  .link{
    margin-top: rem(-23);
    z-index: 11;
    @media (max-width: $smDesktopWidth) {
      margin-top: rem(-16);
    }
  }
}

