.products{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0!important;
  @media (max-width: $tableWidth) {
    line-height: 1.5rem;
  }
  .card{
    width: calc(100%/2 - 10px);
    margin-right: rem(20);
    margin-bottom: rem(20);
    &:nth-child(even){
      margin-right: 0;
    }
    @media (max-width: $smDesktopWidth) {
      padding: rem(24);
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(16);
    }
    @media (max-width: $tableWidth){
      flex-wrap: wrap;
      padding: rem(20) rem(16);
    }
    &:last-child{
     @media (max-width: $smDesktopWidth) {
       margin-bottom: 0;
     }
    }
    &--product{
      &__image{
        @media (max-width: $smDesktopWidth){
          width: 35%;
          max-width: rem(160);
        }
        @media (max-width: $tableWidth){
          width: 100%;
          margin-right: 0;
          max-width: 100%;
          padding: 0;
          margin-bottom: rem(16);
        }
        img{
          @media (max-width: $tableWidth){
            margin: 0 auto;
            display: block;
            max-width: 60%;
          }
        }
      }
      &__content{
        @media (max-width: $smDesktopWidth){
          width: 100%;
        }
        @media (max-width: $tableWidth){

        }
      }
    }
    .promo{
      @media (max-width: $smDesktopWidth){
        margin-top: rem(28);
        margin-bottom: rem(20);
        margin-right: 0;
      }
      @media (max-width: $tableWidth){
        margin-top: rem(12);
      }
    }
    .code{
      @media (max-width: $smDesktopWidth) {
        font-size: rem(16);
      }
      @media (max-width: $tableWidth){
        margin-top: rem(4);
      }
    }
    .h5{
      @media (max-width: $smDesktopWidth){
        font-size: rem(18);
        line-height: rem(20);
      }

      @media (max-width: $tableWidth){
        font-size: rem(16);
        line-height: rem(24);
      }
    }
  }
  .not-found{
    width: 100%;
    line-height: 1.5rem;
    .link--1{
      @media (max-width: $tableWidth) {
        display: contents;
        line-height: 1.5rem;
        font-size: rem(16);
      }
    }
  }
}
.product{
  display: flex;
  flex-wrap: wrap;
  &__images,&__main{
    width: calc(100%/2 - 37px);
  }
  &__images{
    margin-right: rem(74);
    @media (max-width: $smDesktopWidth) {
      margin-right: rem(36);
      width: rem(282);
    }
    @media (max-width: $tableWidth) {
      margin-right: 0;
      width: 100%;
    }
    img{
      margin: 0 auto;
      max-width: 500px;
      @media (max-width: $smDesktopWidth) {
        max-width: 100%;
        max-height: 312px;
      }
      @media (max-width: $tableWidth) {
        max-height: 200px;
        max-width: 200px;
      }
    }
    .slick-dots{
      position: relative;
      bottom: 0;
      .slick-active{
        button{
          background: $accent;
        }
      }
      li{
        width: rem(12);
        height: rem(8);
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
      button{
        padding: 0;
        width: rem(12);
        height: rem(8);
        background: $gray-4;
        &:before{
          display: none;
        }
        &:hover{
          background: $accent-hover;
        }
      }
    }
  }
  &__main{
    @media (max-width: $smDesktopWidth) {
      width: calc(100% - 282px - 36px);
    }
    @media (max-width: $tableWidth) {
      width: 100%;
      margin-top: rem(20);
    }
    ul{
      li{
        padding-left: rem(7);
        display: flex;
        margin-bottom: 12px;
        font-size: rem(18);
        line-height: rem(24);
        @media (max-width: $tableWidth) {
          margin-bottom: 16px;
        }
        &:before{
          margin-top: 8px;
          margin-right: rem(15);
          content: '';
          display: block;
          min-width: rem(8);
          height: rem(8);
          background: $accent;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  h1{
    @media (max-width: $smDesktopWidth) {
      font-size: rem(24);
      line-height: rem(32);
    }

  }
  .code{
    @media (max-width: $smDesktopWidth) {
      margin-top: rem(12);
    }
    @media (max-width: $tableWidth) {
      font-size: rem(16);
      line-height: rem(28);
    }
  }
  .promo{
    @media (max-width: $smDesktopWidth) {
      margin-top: rem(24);
      margin-right: 0;
    }
    @media (max-width: $tableWidth) {
      font-size: rem(16);
      line-height: rem(28);
      margin-top: rem(20);
    }
  }
  .price{
    @media (max-width: $smDesktopWidth) {
      margin-bottom: rem(20);
      font-size: rem(16);
      line-height: rem(24);
    }
    @media (max-width: $tableWidth) {
      line-height: rem(28);
      margin-bottom: rem(16);
    }
  }
  .slick-dots{
    margin-top: rem(24);
    @media (max-width: $smDesktopWidth) {
      position: relative;
      margin-top: 1rem;
    }
    @media (max-width: $tableWidth) {
      margin-top: .5rem;
      bottom: 0;
    }
  }
  .tabs{
    @media (max-width: $tableWidth) {
      display: none;
    }
    &-links{
      display: none;
      @media (max-width: $tableWidth) {
        margin-top: rem(38);
        width: 100%;
        display: block;
      }
    }
  }
}
