.project{
  display: flex;
  flex-wrap: wrap;
  .card{
    margin-right: rem(40);
    width: calc(100%/3 - 80px/3);
    @media (max-width: $smDesktopWidth) {
      width: calc(100%/3 - 32px/3);
      margin-right: rem(16);
    }
    &:nth-child(3n+3){
      margin-right: 0;
    }
    &:last-child{
      @media (max-width: $tableWidth) {
        margin-bottom: 0;
      }
    }
  }
  &-slider{
    .slick-dots{
      bottom: auto;
      top: -40px;
      left: 16px;
      text-align: left;
      li{
        padding: 0;
        margin-left: 0;
        margin-right: rem(10);
        width: auto;
        height: auto;
        &.slick-active{
          button{
            background: $accent;
          }
        }
        button{
          width: rem(4);
          height: rem(4);
          background: $gray-4;
          margin-right: 0;
          @media (max-width: $tableWidth) {
            width: rem(8);
            height: rem(4);
            padding: 0;
          }
          &:before{
            display: none;
          }
        }
      }
    }
    .slick-track{
      display: flex;
    }
    .slick-active{
      &.card{
        //width: 85vw!important;
      }
    }
    .card {
      &--project{
        width: 80vw;
        margin-right: rem(16);
        max-width: rem(200);
        &__image {

        }
    }
      &:nth-child(3n+3){
        margin-right: rem(16);
      }
    }
  }
  &-single{
    &__title{
      margin-bottom: rem(16);
    }
    &__content{

    }
    &__bottom{
      margin-top: rem(40);
      display: flex;
      >div{
        margin-right: rem(20);
        color: $secondary;
        strong{
          color: $default-color;
        }
      }
    }
  }
}
.section-result-project{
  .text--boxed{
    width: 100%;
  }
}
.section--solutions-project{
  @media (max-width: $tableWidth) {
    line-height: 28px;
  }

}
