.second-hero{
  &--with-image{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: rem(711);
    @media (max-width: $smDesktopWidth) {
      max-width: 70%;
    }
    @media (max-width: $tableWidth) {
      max-width: 100%;
    }
    h2,h4{
      margin-top: 24px;
      margin-bottom: 24px;
      @media (max-width: $smDesktopWidth) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @media (max-width: $tableWidth) {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
    ul{
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 32px;
      @media (max-width: $smDesktopWidth) {
        margin-top: 16px;
        margin-bottom: 28px;
      }
      @media (max-width: $tableWidth) {
        margin-bottom: 24px;
      }
      li{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
        line-height: 1.75rem;
        @media (max-width: $smDesktopWidth){
          margin-bottom: 12px;
          font-size: 1rem;
          line-height: 1.625rem;
        }
        @media (max-width: $tableWidth){
          line-height: 1.6875rem;
        }
        br{
          content: '';
        }
        strong{
          display: contents;
        }
        position: relative;
        padding-left: 23px;
        @media (max-width: $smDesktopWidth) {

        }
        &:before{
          margin-top: 8px;
          position: absolute;
          left: 0;
          content: '';
          display: block;
          min-width: rem(8);
          height: rem(8);
          background: $accent;
        }
        a{
          display: contents;
        }
      }
    }
    p{
      margin-top: 24px;
      margin-bottom: 32px;
      &:first-child{
        margin-top: 0;
      }
      @media (max-width: $smDesktopWidth) {
        margin-top: 20px;
        margin-bottom: 28px;
      }
      @media (max-width: $tableWidth) {
        margin-top: 16px;
        margin-bottom: 24px;
      }
    }
    a{
      color: $accent;
    }
  }
  &__image{
    @media (max-width:$smDesktopWidth) {
      position: absolute;
      right: -10%;
    }
    @media (max-width:$tableWidth) {
      top: 100%;
    }
  }
}
