.solutions{
  display: flex;
  flex-wrap: wrap;
  .card{
    margin-bottom: rem(20);
    &:hover{
      background: $gray;
    }
    @media (max-width: $smDesktopWidth) {
      margin-bottom: rem(16);
    }
    @media (max-width: $tableWidth){
      margin-bottom: rem(12);
    }
    &:last-child{
      margin-bottom: 0;
    }
    &:nth-child(even){
      @media (max-width: $smDesktopWidth) {
        margin-right: 0;
      }
    }

    .btn--red{
      padding: rem(10) rem(10) rem(10) rem(18);
      border: none;
      &:hover{
        background: $accent-hover;
        color: $default-color;
        .icon{
          fill: $default-color;
        }
      }
      @media (max-width: $smDesktopWidth){

      }
      @media (max-width: $tableWidth) {
        font-size: rem(14);
        line-height: rem(20);
        padding: rem(6) rem(8) rem(6) rem(14);
      }

      .icon{
        @media (max-width: $smDesktopWidth){
          width: rem(20);
          height: rem(20);
        }

      }
    }
  }
  .card--solution{
    width: 100%;
    &-with-sub{
      @media (max-width: $tableWidth){
        margin-bottom: 0;
      }
    }
  }
  .link--show{
    display: none;
    @media (max-width: $tableWidth){
      display: flex;
      width: 100%;
      background: $secondary;
      margin-bottom: rem(12);
    }
  }
  .card--sub-solution{
    width: calc(100%/4 - 15px);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(17) rem(12) rem(12) rem(16);
    h5{
      text-transform: uppercase;
    }
    @media (max-width: $smDesktopWidth) {
      min-height: rem(118);
      width: calc(100%/2 - 10px);
    }
    @media (max-width: $tableWidth) {
      display: none;
    }
    .icon{
      margin-left: 0;
    }
    .btn{
      padding: rem(8);
      @media (max-width: $smDesktopWidth) {
        padding: rem(5);
      }
    }
  }
  &-project{
    display: flex;
    .card{
      width: calc(100%/3 - 40px/3);
      margin-right: rem(20);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: $tableWidth) {
        display: none;
      }
      &:last-child{
        margin-right: 0;
      }
      .btn{

          padding: rem(5);

        .icon{
            margin-left: 0;

        }
      }
    }
  }
}
