.solutions{
  display: flex;
  flex-wrap: wrap;
  .card{
    margin-bottom: rem(20);
    @media (max-width: $smDesktopWidth) {
      margin-bottom: rem(16);
    }
    @media (max-width: $tableWidth){
      margin-bottom: rem(12);
    }
    &:last-child{
      margin-bottom: 0;
    }
    .btn--red{
      @media (max-width: $smDesktopWidth){
        padding: rem(6) rem(8) rem(6) rem(14);
        font-size: rem(14);
        line-height: rem(20);
      }

      .icon{
        @media (max-width: $smDesktopWidth){
          width: rem(20);
          height: rem(20);
        }

      }
    }
  }
  .card--solution{
    width: 100%;
    &-with-sub{
      @media (max-width: $tableWidth){
        margin-bottom: 0;
      }
    }
  }
  .link--show{
    display: none;
    @media (max-width: $tableWidth){
      display: flex;
      width: 100%;
      background: $secondary;
      margin-bottom: rem(12);
    }
  }
  .card--sub-solution{
    width: calc(100%/4 - 15px);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: $smDesktopWidth) {
      width: calc(100%/2 - 10px);
    }
    @media (max-width: $tableWidth) {
      display: none;
    }
    .icon{
      margin-left: 0;
    }
    .btn{
      padding: rem(7);
      @media (max-width: $smDesktopWidth) {
        padding: rem(5);
      }
    }
  }
}
