.views{
  &__slider{
    .slick-arrow{
      position: absolute;
      top: rem(-42);
      width: rem(24);
      padding: rem(12) rem(11);
      border: 1px solid $accent;
      height: rem(24);
      box-sizing: content-box;
      transition: all .3s ease;
      &:before{
        display: none;
      }
      &.slick-next{
        right: rem(10);
      }
      &.slick-prev{
        right: rem(82);
        left: auto;
      }
      .icon{
        stroke: $accent;
        transition: all .3s ease;
      }
      &:hover{
        background: $accent;
        .icon{
          stroke: $default-color;
        }
      }
    }
  }
}
