.views{
  &__slider{
    .slick-arrow{
      position: absolute;
      top: rem(-42);
      width: rem(24);
      padding: rem(12) rem(11);
      border: 1px solid $accent;
      height: rem(24);
      box-sizing: content-box;
      transition: all .3s ease;
      @media (max-width: $smDesktopWidth) {
        padding: rem(8);
      }
      @media (max-width: $tableWidth) {
        top: rem(-48);
      }
      &:before{
        display: none;
      }
      &.slick-next{
        right: rem(10);
      }
      &.slick-prev{
        right: rem(82);
        left: auto;
        @media (max-width: $smDesktopWidth) {
          right: rem(60);
        }
      }
      .icon{
        fill: $accent;
        transition: all .3s ease;
      }
      &:hover{
        background: $accent;
        .icon{
          fill: $default-color;
        }
      }
    }
    .slick-track{
      display: flex;
    }
    .card{
      height: inherit;
    }
  }
}
.section--view{
  h3{
    @media (max-width: $tableWidth) {
      max-width: 70%;
      min-width: 200px;
    }
    @media (max-width: 370px) {
      max-width: 200px;
      min-width: auto;
    }
  }
}
