.views{
  &__slider{
    .slick-arrow{
      position: absolute;
      top: rem(-42);
      width: rem(24);
      padding: .53rem .53rem;
      border: 1px solid $accent;
      height: rem(24);
      box-sizing: content-box;
      transition: all .3s ease;
      @media (max-width: $smDesktopWidth) {
        padding: 0.4rem;
      }
      @media (max-width: $tableWidth) {
        top: rem(-48);
      }
      &:before{
        display: none;
      }
      &.slick-next{
        right: rem(0);
      }
      &.slick-prev{
        right: rem(62);
        left: auto;
        @media (max-width: $smDesktopWidth) {
          right: 4rem;
        }
      }
      .icon{
        fill: $accent;
        transition: all .3s ease;
      }
      &:hover{
        background: $accent;
        .icon{
          fill: $default-color;
        }
      }
    }
    .slick-track{
      display: flex;
    }
    .slick-list{
      margin-left: -5px;
      margin-right: -4px;
    }
    .card{
      height: inherit;
      margin: 0 5px;
    }
    .card--news{
      display: flex!important;
    }
    &--search-products{
      .slick-list{
        margin-left: -5px;
        margin-right: -4px;
      }
      .slick-arrow{
        top: -54px;
      }
      .card--view{
        margin: 0 5px;
      }
    }
  }
}
.section--view{
  h3{
    @media (max-width: $tableWidth) {
      max-width: 70%;
      min-width: 200px;
    }
    @media (max-width: 370px) {
      max-width: 200px;
      min-width: auto;
    }
  }
}
