.who{
  &__list{
    margin-bottom: rem(-20);
    @media (max-width: $tableWidth) {
      margin-bottom: 0;
    }
    li{
      min-width: rem(315);
      width: 50%;
      @media (max-width: $smDesktopWidth) {
        width: 50%;
        min-width: auto;
        max-width: 50%;
      }
    }
  }
  &-wrap{
    @media (max-width: $smDesktopWidth) {
      flex-wrap: wrap;
    }
    h3{
      @media (max-width: $smDesktopWidth){
        min-width: 100%;
        max-width: 100%;
      }

    }
    .card{
      @media (max-width: $smDesktopWidth) {
        width: 50%;
      }
    }
    >div >.d-flex{
      position: relative;
      &:after{
        height: 1px;
        width: 100%;
        display: block;
        content: '';
        background: $gray-4;
        position: absolute;
        bottom: rem(-48);
        @media (max-width: $smDesktopWidth) {
          bottom: rem(-36);
        }
      }
    }
  }
}
.section--who{
  .card{
    width: calc(50% - 10px);
    margin-right: 20px;
    @media (max-width: $smDesktopWidth) {
      margin-right: 16px;
      width: calc(50% - 8px);;
    }
    &:nth-child(even){
      margin-right: 0;
    }
  }
}
