.d-flex{
  display: flex;
}
.align-items{
  &-center{
    align-items: center;
  }
  &-start{
    align-items: start;
  }
  &-baseline{
    align-items: baseline;
  }
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-end{
  justify-content: flex-end;
}
.flex{
  &-wrap{
    flex-wrap: wrap;
  }
  &-md{
    &-wrap{
      @media (max-width: $tableWidth) {
        flex-wrap: wrap;
      }
    }
  }
}
.d{
  &-none{
    display: none;
  }
    &-lg{
      &-block{
        @media (max-width: $smDesktopWidth) {
          display: block;
        }
      }
      &-none{
        @media (max-width: $smDesktopWidth) {
          display: none;
        }
      }
    }
  &-md{
    &-none{
      @media (max-width: $tableWidth) {
        display: none;
      }
    }
    &-block{
      @media (max-width: $tableWidth) {
        display: block;
      }
    }
  }
}
