.m{
  &-xl{
    &-t{
      &-8{
        margin-top: rem(8);
      }
      &-12{
        margin-top: rem(12);
      }
      &-15{
        margin-top: rem(15);
      }
      &-16{
        margin-top: rem(16);
      }
      &-20{
        margin-top: rem(20);
      }
      &-24{
        margin-top: rem(24);
      }
      &-27{
        margin-top: rem(27);
      }
      &-28{
        margin-top: rem(28);
      }
      &-32{
        margin-top: rem(32);
      }
      &-34{
        margin-top: rem(34);
      }
      &-40{
        margin-top: rem(40);
      }
      &-48{
        margin-top: rem(48);
      }
      &-60{
        margin-top: rem(60);
      }
      &-80{
        margin-top: rem(80);
      }
      &-104{
        margin-top: rem(104);
      }
    }
    &-b{
      &-12{
        margin-bottom: rem(12);
      }
      &-16{
        margin-bottom: rem(16);
      }
      &-20{
        margin-bottom: rem(20);
      }
      &-24{
        margin-bottom: rem(24);
      }
      &-28{
        margin-bottom: rem(28);
      }
      &-32{
        margin-bottom: rem(32);
      }
      &-36{
        margin-bottom: rem(36);
      }
      &-48{
        margin-bottom: rem(48);
      }
      &-60{
        margin-bottom: rem(60);
      }
      &-80{
        margin-bottom: rem(80);
      }
      &-96{
        margin-bottom: rem(96);
      }
      &-120{
        margin-bottom: rem(120);
      }
    }
    &-r{
      &-0{
        margin-right: 0!important;
      }
    }
    &-l{
      &-38{
        margin-left: rem(38);
      }
    }
  }
  &-lg{
    &-t{
      &-0{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(0);
        }
      }
      &-4{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(4);
        }
      }
      &-20{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(20);
        }
      }
      &-24{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(24);
        }
      }
      &-28{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(28);
        }
      }
      &-36{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(36);
        }
      }
      &-48{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(48);
        }
      }
      &-60{
        @media (max-width: $smDesktopWidth) {
          margin-top: rem(60);
        }
      }
    }
    &-b{
      &-20{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(20);
        }
      }
      &-24{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(24);
        }
      }
      &-28{
        @media (max-width:$smDesktopWidth) {
          margin-bottom: rem(28);
        }
      }
      &-32{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(32);
        }
      }
      &-36{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(36);
        }
      }
      &-40{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(44);
        }
      }
      &-44{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(44);
        }
      }
      &-48{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(48);
        }
      }
      &-60{
        @media (max-width: $smDesktopWidth) {
          margin-bottom: rem(60);
        }
      }
    }
    &-r{
      &-0{
        @media (max-width: $smDesktopWidth) {
          margin-right: 0!important;
        }

      }
    }
  }
  &-md{
    &-t{
      &-0{
        @media (max-width:$tableWidth) {
          margin-top: 0;
        }
      }
      &-12{
        @media (max-width:$tableWidth) {
          margin-top: rem(12);
        }
      }
      &-18{
        @media (max-width:$tableWidth) {
          margin-top: rem(18);
        }
      }
      &-24{
        @media (max-width:$tableWidth) {
          margin-top: rem(24);
        }
      }
      &-28{
        @media (max-width:$tableWidth) {
          margin-top: rem(28);
        }
      }
      &-36{
        @media (max-width:$tableWidth) {
          margin-top: rem(36);
        }
      }
    }
    &-b{
      &-8{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(8);
        }
      }
      &-16{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(16);
        }
      }
      &-18{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(18);
        }
      }
      &-24{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(24);
        }
      }
      &-28{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(28);
        }
      }
      &-32{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(32);
        }
      }
      &-36{
        @media (max-width:$tableWidth) {
          margin-bottom: rem(36);
        }
      }
    }
  }
}
.p{
  &-xl{
    &-t{
      &-8{
        padding-top: rem(8);
      }
      &-15{
        padding-top: rem(15);
      }
      &-16{
        padding-top: rem(16);
      }
      &-32{
        padding-top: rem(32);
      }
      &-40{
        padding-top: rem(40);
      }
      &-48{
        padding-top: rem(48);
      }
      &-60{
        padding-top: rem(60);
      }
      &-80{
        padding-top: rem(80);
      }
      &-120{
        padding-top: rem(120);
      }
    }
    &-b{
      &-8{
        padding-bottom: rem(8);
      }
      &-16{
        padding-bottom: rem(16);
      }
      &-32{
        padding-bottom: rem(32);
      }
      &-44{
        padding-bottom: rem(44);
      }
      &-48{
        padding-bottom: rem(48);
      }
      &-60{
        padding-bottom: rem(60);
      }
      &-80{
        padding-bottom: rem(80);
      }
      &-100{
        padding-bottom: rem(100);
      }
      &-120{
        padding-bottom: rem(120);
      }
      &-180{
        padding-bottom: rem(180);
      }
    }
  }
  &-lg{
    &-t{
      &-36{
        @media (max-width: $smDesktopWidth) {
          padding-top: rem(36);
        }
      }
      &-48{
        @media (max-width: $smDesktopWidth) {
          padding-top: rem(48);
        }
      }
      &-60{
        @media (max-width: $smDesktopWidth) {
          padding-top: rem(60);
        }
      }
      &-88{
        @media (max-width: $smDesktopWidth) {
          padding-top: rem(88);
        }
      }
    }
    &-b{
      &-36{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(36);
        }
      }
      &-40{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(40);
        }
      }
      &-44{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(44);
        }
      }
      &-48{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(48);
        }
      }
      &-60{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(60);
        }
      }
      &-68{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(68);
        }
      }
      &-88{
        @media (max-width: $smDesktopWidth) {
          padding-bottom: rem(88);
        }
      }
    }
  }
  &-md{
    &-t{
      &-0{
        @media (max-width:$tableWidth) {
          padding-top: rem(0);
        }
      }
      &-18{
        @media (max-width:$tableWidth) {
          padding-top: rem(18);
        }
      }
      &-36{
        @media (max-width:$tableWidth) {
          padding-top: rem(36);
        }
      }
      &-52{
        @media (max-width:$tableWidth) {
          padding-top: rem(52);
        }
      }
      &-60{
         @media (max-width:$tableWidth) {
           padding-top: rem(60);
         }
       }
    }
    &-b{
      &-0{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(0);
        }
      }
      &-16{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(16);
        }
      }
      &-20{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(20);
        }
      }
      &-18{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(18);
        }
      }
      &-24{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(24);
        }
      }
      &-28{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(28);
        }
      }
      &-36{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(36);
        }
      }
      &-44{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(44);
        }
      }
      &-60{
        @media (max-width:$tableWidth) {
          padding-bottom: rem(60);
        }
      }
     }
  }
}
