.advanced-search{
  width: calc(100% + 2px);
  left: -1px;
  background: $gray-4;
  padding: rem(10) rem(12) rem(36) rem(12);
  display: none;
  &__block{
    margin-top: rem(20);
    &-head{
      margin-bottom: rem(6);
    }
    &-title{
      font-weight: 700;
      line-height: rem(24);
      letter-spacing: -0.0125em;
      font-size: rem(18);
    }
    &-reset{
      font-size: rem(16);
      line-height: rem(24);
      letter-spacing: -0.0125em;
      color: $mainFontColor;
      opacity: 1;
      &.disabled{
        pointer-events: none;
        opacity: 0.25;
      }
    }
  }
  &__bottom{
    margin-top: rem(34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .advanced-search-block-reset{
      display: none;
      @media (max-width: $tableWidth) {
        display: block;
      }
    }
    &-checkboxes{
      display: flex;
    }
    button{
      padding: rem(8) rem(10) rem(8) rem(18);
      .icon{
        margin-left: 0;
      }
    }
  }
  &__filter{
    .option{
      line-height: rem(20);
      font-size: rem(16);
      color: $mainFontColor;
      padding: rem(12);
      cursor: pointer;
    }
    .items{
      padding: rem(12);
      background-color: $default-color;
      border-radius: 0;
    }
    .item{
      line-height: rem(20);
      font-size: rem(16);
      color: $mainFontColor;
      padding: 0;
    }
    &.selectize-dropdown .active{
      background-color:$gray-5;
    }
    &.selectize-dropdown{
      height: rem(264)
    }
    .selectize-dropdown-content{
      overflow-y: auto;
      max-height: inherit;
    }
  }
}
.mobile-search .advanced-search__block-head .advanced-search-block-reset{
  @media (max-width: $tableWidth) {
    display: none;
  }
}
