.breadcrumb{
  display: flex;
  align-items: center;
  @media (max-width: $smDesktopWidth) {
    flex-wrap: wrap;
    margin-bottom: rem(8);
    border-top: 1px solid #CFD2D7;
    padding-top: 16px;
    margin-top: 64px;
  }
  @media (max-width: 370px) {

  }
  &__item{
    margin-right: rem(10);
    color: $gray-4;
    @media (max-width: $smDesktopWidth) {
      margin-bottom: rem(8);
    }
  }
  &__link{
    color: $mainFontColor;
    display: flex;
    font-size: rem(17);
    line-height: rem(24);
    letter-spacing: -0.02em;
    transition: all .3s ease;

    &:hover{
      color: $accent;
    }

    &:after{
      margin-left: rem(10);
      display: block;
      position: relative;
      content: '/';
      color: $mainFontColor;
    }
  }
}
