.btn{
  display: inline-block;
  transition: all .3s ease;
  .icon{
    transition: all .3s ease;
  }
  &-search{
    .icon{
      fill: $accent;
    }
      &:disabled{
        .icon{
          fill: $gray-4;
        }
      }

  }
  &--red{
    background: $accent;
    padding: rem(10) rem(18);
    line-height: rem(20);
    letter-spacing: -0.0125em;
    color: $default-color;
    cursor: pointer;
    border: 1px solid transparent;
    .icon{
      fill: $default-color;
      transition: all .3s ease;
    }
    &:disabled{
      cursor: default;
      opacity: .5;
    }
    &:hover{
      .icon{
        fill: $accent;
      }
      &.btn--with-icon{
        .icon{
          fill: $accent;
        }
      }
      color: $accent;
      background: $default-color;
      border: 1px solid $accent;
    }
    &:focus{
      border: 1px solid $accent;
    }
  }
  &--with{
    &-icon{
      display: flex;
      align-items: center;
    }
  }
  &--white{
    border: 1px solid $accent;
    color: $accent;
    padding: rem(10) rem(18);
    line-height: rem(20);
    background: $default-color;
    &:hover{
      color: $default-color;
      background: $accent;
      .icon{
        fill: $default-color;
        stroke: $default-color;
      }
    }
  }
  &--2{
    background: $accent;
    padding: rem(10) rem(18);
    line-height: rem(20);
    letter-spacing: -0.0125em;
    color: $default-color;
    cursor: pointer;
    .icon{
      fill: $default-color;
      margin-left: rem(10);
      transition: all .3s ease;
    }
    &:disabled{
      cursor: default;
      opacity: .5;
    }
    &:hover{
      .icon{
        fill: $default-color;
      }
      &.btn--with-icon{
        .icon{
          fill: $accent;
        }
      }
      background: $accent-hover;
    }
  }
}
