.filter {
  padding: rem(36);
  &__list{
    display: flex;
  }
  &__item {
    width: calc(100%/3 - 16px);
    margin-right: 24px;
    &:last-child{
      margin-right: 0;
    }
    &-title{
      font-weight: bold;
      font-size: rem(15);
      line-height: rem(16);
      letter-spacing: -0.0125em;
      margin-left: rem(12);
      margin-bottom: rem(8);
      display: block;
    }
  }
  &-reset{
    margin-right: rem(26);
    font-size: rem(16);
    line-height: rem(20);
    letter-spacing: -0.0125em;
    color: $gray-3;
  }
}
