.hamburger {
  margin: 0 auto;
  display: block;
  height: rem(20);
  margin-top: rem(4);
  width: rem(20);
  span{
    display: block;
    position: relative;
    height: rem(8);
    &:last-child{
      opacity: 1;
      visibility: visible;
      transition: 300ms ease all;
    }
    &:after{
      position: absolute;
      display: block;
      width: rem(20);
      height: calc(10px/4);
      background: $default-color;
      content: '';
      margin: 0 auto rem(2) auto;
      top: rem(4);
      transition: 300ms ease all;
    }
    &:before{
      position: absolute;
      display: block;
      width: rem(20);
      height: calc(10px/4);
      background: $default-color;
      content: '';
      margin: 0 auto rem(2) auto;
      transition: 300ms ease all;
    }
    &:last-child{
      &:after{
        width: rem(12);
      }
    }
  }
}
