.icon{
  width: rem(24);
  height: rem(24);
  &--search{
    width: rem(18);
    height: rem(18);
  }
  &--filter{
    fill: $accent;
  }
  &--accent{
    fill: $accent;
  }
  &--arrow-right{
    stroke: $default-color;
  }
}
