.input{
  height: rem(20);
  &--form{
    display: block;
    height: rem(44);
    font-size: rem(16);
    line-height: rem(18);
    color: $default-color;
    background: $gray-2;
    padding: rem(12);
    margin-bottom: rem(24);
    &::placeholder{
      color: $gray-4;
    }
  }
  &--textarea{
    background: $gray-2;
    color: $default-color;
    padding: rem(12) rem(14);
    height: 100%;
    font-size: rem(16);
    line-height: rem(18);
    max-height: rem(180);
    &::placeholder{
      font-size: rem(16);
      line-height: rem(18);
      color: $gray-4;
    }
  }
  &--checkbox{
    display: inline-block;
    width: rem(20);
    height: rem(20);
  }
  &--placeholder{
    position: absolute;
    font-size: rem(11);
    line-height: rem(10);
    color: #2F3338;
    opacity: 0.5;
    top: rem(6);
    left: rem(52);
    display: none;
  }
}
.checkbox{
  margin-right: rem(8);
  width: rem(20);
  height: rem(20);
  position: relative;
  appearance: none;
  &:after{
    position: absolute;
    content: "";
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $default-color;
    border: 1px solid $gray-5;
  }
  &:before{
    position: absolute;
    content: "";
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 12;
  }
  +img{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: .125rem;
    top: .125rem;
  }
  &:checked{
    +img{
      z-index: 11;
      opacity: 1;
      visibility: visible;
    }
  }
  &-block{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: rem(36);
  }
  &-label{
    line-height: rem(20);
    letter-spacing: -0.0125em;
  }
}
