.list{
  &__item{
    margin-bottom: rem(20);
    font-size: rem(18);
    line-height: rem(24);
    @media (max-width: $smDesktopWidth) {
      font-size: rem(16);
      margin-bottom: rem(18);
    }
  }
  &--square{
    li{
      padding-left: rem(7);
      display: flex;
      align-items: center;
      &:before{
        margin-right: rem(15);
        content: '';
        display: block;
        min-width: rem(8);
        height: rem(8);
        background: $accent;
      }
    }
  }
}
