.mobile-menu{
  display: none;
  background: #6C7482;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  ul{
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
  }
  @media (max-width: $smDesktopWidth) {
    display: block;
  }
  &-head{
    margin-bottom: rem(10);
    width: 100%;
    padding: 0 rem(16);
  }
  &__list{
    display: flex;
    @media (max-width: $tableWidth) {
      justify-content: space-between;
    }
    &-item{
      position: relative;
      margin-right: rem(0);
      width: rem(64);
      padding: rem(13) rem(0);
      @media (max-width: $smDesktopWidth) and (min-width: $tableWidth) {
        margin-right: rem(12);
      }
      @media (max-width: $smDesktopWidth) {
        padding: rem(8) rem(0);
      }
      &:last-child{
        margin-right: 0;
      }
      &-title{
        font-size: rem(12);
        line-height: rem(12);
        text-align: center;
        letter-spacing: -0.03em;
        color: $default-color;
        margin-top: rem(4);
        position: relative;
      }
      .icon{
        display: block;
        margin: 0 auto;
      }
      .cart__digit{
        right: rem(10);
        top: rem(7);
      }
    }
  }
  &-icon{
    &__button{
      padding: 0 rem(16) 0 0;
    }
  }
  &__filter{
    display: none;
    @media (max-width: $smDesktopWidth) {
      display: flex;
      position: fixed;
      background: $accent;
      left: 0;
      width: 100%;
      bottom: 56px;
      color: $gray-6;
      padding: 14px 16px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      align-items: center;
      justify-content: space-between;
    }
    .icon{
      fill: $gray-6;
      display: block;
    }
    &-icons{
      height: 1.5rem;
      overflow-y: hidden;
    }
  }
}
.mobile-menu__button{
  &.active{
    background: $mainFontColor;
    .hamburger{
      span{
        &:last-child{
          opacity: 0;
          visibility: hidden;
        }
        &:before{
          transform: translate(0) rotate(-45deg);
          top: rem(6);
        }
        &:after{
          transform: translate(0) rotate(45deg);
          top: rem(6);
        }
      }
    }
  }
}
.mobile-button-search{
  &.active{
    background: $mainFontColor;
    .hamburger{
      span{
        &:last-child{
          opacity: 0;
          visibility: hidden;
        }
        &:before{
          transform: translate(0) rotate(-45deg);
          top: rem(6);
        }
        &:after{
          transform: translate(0) rotate(45deg);
          top: rem(6);
        }
      }
    }
  }
  &__icons{
    overflow-y: hidden;
    height: rem(24);
  }
  .icon{
    transition: transform .3s ease;
    stroke: $default-color;
  }
  &.active{
    .icon{
      transform: translateY(-100%);
    }
  }
}
.mobile-search{
  display: none;
  .header__search-form{
    display: flex;
    position: fixed;
    width: 100%;
    bottom: rem(66);
    z-index: 300;
    @media (max-width: $smDesktopWidth) {
      bottom: rem(56);
    }
  }
  .advanced-search{
    position: absolute;
    top: auto;
    bottom: 100%;
  }
  .advanced-search__bottom{
    @media (max-width: $tableWidth) {
      flex-wrap: wrap;
    }
  }
  .advanced-search-button{
    @media (max-width: $tableWidth) {

    }
  }
}
.mm-ocd {
  color: $mainFontColor;
  --mm-spn-item-height: 48px;
  --mm-ocd-width: 100%;
  bottom: rem(66);
  visibility: hidden;
  @media (max-width: $smDesktopWidth) {
    bottom: rem(56);
  }
  &--open{
    visibility: visible;
  }
  li{
    a{
      font-size: rem(17);
      line-height: rem(24);
      letter-spacing: -0.02em;
      color: $mainFontColor;
      @media (max-width: $smDesktopWidth) {
        font-size: rem(16);
        margin-top: rem(3);
      }
      @media (max-width: $tableWidth) {
        font-size: rem(16);
      }
    }
  }
}
.mm-spn.mm-spn--navbar:after{
  opacity: 1;
  font-size: rem(20);
  line-height:rem(24);
  letter-spacing: -0.01em;
  color: $mainFontColor;
  top: rem(12);
  font-weight: bold;
  text-align: left;
}
#mobile-menu-nav{
  display: none;
  @media (max-width: $smDesktopWidth) {
    display: block;
  }
}
.mm-spn ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mm-spn li:before{
  opacity: 1;
}
.mm-spn.mm-spn--navbar:before {
  opacity: 1;
}
