.text{
  &--uppercase{
    text-transform: uppercase;
  }
  &--white{
    color: $default-color;
  }
  &--accent{
    color: $accent;
    .icon{
      fill: $accent;
    }
  }
  &--gray-3{
    color: $gray-3;
  }
  &--gray-4{
    color: $gray-4;
  }
  &--gray-5{
    color: $gray-5;
  }
  &--gray-6{
    color: $gray-6;
  }
  &--gray-7{
    color: $gray-7;
  }
  &--gold{
    color: $gold;
  }
  &--small{
    &-2{
      font-size: rem(16);
      line-height: rem(24);
    }
  }
  &--boxed{
    background: $gray-6;
    padding: rem(36) rem(36) rem(44) rem(36);
    font-size: rem(18);
    line-height: rem(28);
    letter-spacing: -0.0075em;
    @media (max-width: $smDesktopWidth) {
      font-size: rem(16);
      line-height: rem(24);
      padding: rem(28) rem(28) rem(32) rem(28);
    }
    @media (max-width: $tableWidth){
      padding: rem(20) rem(16);
      line-height: rem(28);
    }
    a{
      font-size: rem(18);
      line-height: rem(28);
      letter-spacing: -0.0075em;
      color: $accent;
      @media (max-width: $smDesktopWidth) {
        font-size: rem(16);
        line-height: rem(27);
      }
      &:hover{
        text-decoration: underline;
      }
    }
    &-2{
      @extend .text--boxed;
      background: $mainFontColor;
      color: $default-color;
    }
  }
  &--body{
    @media(max-width: $tableWidth){
      font-size: rem(16);
      line-height: rem(28);
    }
    a{
      color: $accent;
    }
  }
}
